
/* Los estilos de tu proyecto */
/*.modal {
  max-height: 90%;
}
.modal-form-row {
  margin-bottom: 0px;
}*/
.m-b {
  margin-bottom: 0%;
}
.m-l {
  margin-left: 5%;
}
.p-l {
  padding-left: 10%;
}
.p-5 {
  padding: 5%;
}
.letter-white {
  color: white;
}
.nav-wrapper {
  width: 90%;
  margin-left: 5%;
}
.nav-wrapper nav ul li a {
  color: black;
}
nav {
  background-color: white;
}
.container-home {
  /*background-color: pink;*/
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 15% 0%;
  color: white;
}
.container-home-mobile {
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 30% 0%;
  color: white;
}
.container-home div p {
  display: inline-block;
}
#registro {
  padding-bottom: 2%;
}
.height-telephone > img {
  height: 30vh;
}
.frame-telephone {
  border: 1px solid;
  padding-left: 15%;
  margin-top: 5%;
}
.btn-white {
  background-color: white;
  color: black;
}
.btn-color {
  background-color: #F7B617;
  color: white;
}
.salto::after, .salto::before {
   content: "_______________";
}
.telephone {
  height: 15%;
}
.card-image {
  margin: 5% 8%;
  height: 25%;
}
.card-content {
  width: 85%;
}
.card-content > h6, h5 {
  color: white;
  word-spacing: 5px;
}
.background-color {
  background-color: #F7B617;
  color: white;
}
.card-telephone {
  border: 1px solid white;
  border-left: 0%;
  padding: 0%;
  width: 85%;
  margin: 5% 0%;
}
.container-drive {
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: bottom;
  padding-bottom: 15%;
  color: white;
}
.container-drive-mobile {
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}
#conductor {
    background-color: rgba(3, 31, 84, 0.5);
    padding: 2%;
}
#conductor-mobile {
  background-color: rgba(3, 31, 84, 0.5);
  padding: 8%;

}

.container-rates {
  background-color: #F7B617;
  color: white;
}

.card-map {
  border-left: 0%;
  padding: 0%;
}
.card-map > div > img {
  border: 1px solid white;
}
#icon-from, #icon-to {
  border: 1px solid white;
  border-radius: 10%;
  width: 85%;
}
#icon-rates {
  border: 1px solid white;
  border-radius: 10%;
  width: 90%;
  box-sizing: border-box;

}

.input-field > label {
  color: white;
  padding-left: 15%;
}
.footer, .footer-mobile {
  background-color: #2B2B2B;
  color: white;
}
.footer > div > div:nth-child(3) > div:nth-child(4) > img:nth-child(1) {
  padding-top: 75%;
}

.footer-mobile > div > div:nth-child(5) > img:nth-child(1) {
  margin-top: 25%;
}
